<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Homeburgers'</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta charset="utf-8"/>
    <script src="https://vuejs.org/js/vue.js" defer></script>
    <script type="text/javascript" src="js/menu.js"></script>
    <script src="js/js_script.js" defer></script>
    <script src="js/vue_script.js" defer ></script>

    
   
    
    
   
    

  </head>
  

  <body>

    <header>
      <h1>Welcome to Homeburger's </h1>
      <b> <i>We deliver our hamburgers home to you </i></b>
      
      <img src = "img/header.jpg" id="header_pic" alt="header">
    </header>
    
    <main>
      
      <section class="burgers_section">
        <h3>Select burger</h3>
        
        <i><b> Please select a burger</b> </i>

        <div id="grid" class="wrapper">
          
          

          <div v-for="burger in menu">
            <h3> {{ burger.name }} </h3>

            <img v-bind:src="burger.picFilePath" height="316px" width="474px">
          
         
            <ul>
              <li>
                {{burger.description}}
              </li>
              <li>
                {{burger.kcal}} kcal
              </li>
              <li v-if="burger.vegetarian">
                is Vegetarian
              </li>
              <li v-else>
                is <b>not Vegetarian </b>
              </li>
              <li v-if="burger.lactose">
                contains <b>Lactose</b>
              </li>
              <li v-if="burger.gluten">
                contains <b>Gluten</b>
              </li>
              
          
          
          
        </div>
        
      </section>




      
      
      <section class ="info_section">
        <h3>Customer information</h3>
        <p>Please add your information here </p>
        
        <form>
          <p>
            <label for="full_name">Full name</label><br>
            <input type="text" id="full_name" name="fn" required="required" placeholder="First- and Last name" />
          </p>
          <p>
            <label for="email">E-mail address</label><br>
            <input type="email" id="email" name="em" required="required" placeholder="E-mail address" />
          </p>
          <p>
            <label for="street">Street</label><br>
            <input type="text" id="street" name="street" placeholder="Street name" />
          </p>
          
          <p>
            <label for="house">House</label><br>
            <input type="number" id="house" name="hnr" required="required" placeholder="House number"/>
          </p>


          <p>
            <label for="payment_option">Payment Option</label><br />
            <select id="payment_option" name="pay">
              
              <option>Cheque</option>
              <option selected = "selected">Credit Card</option>    <option>Cash</option>
              <option>Other?</option>
              
            </select>
          </p>

          <p>
            <label for="gender">Gender</label><br>
            <input type="radio" id="gender" name="gender" value ="male" required="required"/> <label for="gender">Male</label><br>
            <input type="radio" id="gender" name="gender" value ="female" required="required"/> <label for="gender">Female</label><br>
            <input type="radio" id="gender" name="gender" value ="does not wich to provide" required="required"/> <label for="gender">Does not wish to provide</label><br>
          </p>
          
        </form>
        
        
      </section>

      <button type="submit"><img src="img/smallburg2.jpg" alt="small burger"/> Send Info</button>
      
    </main>
    <footer>copyright 2020</footer>  
  </body>
</html>

