<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Homeburgers'</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta charset="utf-8"/>
    <script src="js/js_script.js"></script>
    <script src="js/vue_script.js"></script>
    <script src="https://vuejs.org/js/vue.js"></script> 
    
  </head>
  

  <body>

    <header>
      <h1>Welcome to Homeburger's </h1>
     <b> <i>We deliver our hamburgers home to you </i></b>
      
      <img src = "img/header.jpg" id="header_pic">
    </header>
    
    <main>
      
      <section class="burgers_section">
        <h3>Select burger</h3>
        
        <i><b> Please select a burger</b> </i>

        <div class="wrapper">
         
            
            <div class="box a">

              <h4>Big boy burger</h4>
              <img src = "img/burg1.jpeg"alt="the big boy burger" height="316" width="474vw" title="burg1">

              <ul>
                <li>tasty burger made for big boys</li>
                <section class="allergy">
                  <li>not vegetarian</li>
                  <li>not gluten free</li>
                </section>
              </ul>
              
            </div>
            
            

            
            <div class="box b">
              
              
              <h4>Homeboy burger</h4>
              <img src = "img/burg2.jpg"alt="the homeboy burger"height="316" width="474" title="burg1">
              <ul>
                <li>Our biggest burger, made for homeboys</li>
                <section class="allergy">                  
                  <li>meaty asf</li>
                  <li>not gluten free</li>
                </section>
              </ul>
              
            </div>
            
            
            
            <div class="box c">
              
              <h4>Classy burger</h4>
              <img src = "img/burg3.jpg"alt="the classy burger" height="316" width="474" title="burg1">
              <dl>
                <dt>Ingredients </dt>
                <dd><ul>
                    <li>salad</li>
                    <li>meat</li>
                    <li>bread</li>
                    <li>tomato</li>
                  </ul>
                </dd>
                
                
                <dt>Calories</dt>
                <dd>1000</dd>

                <section class="allergy">                  
                  <dt>Vegetarian?</dt>
                  <dd>no</dd>

                  <dt>Gluten free?</dt>
                  <dd>no</dd>
                  
                  <dt>Lactose free?</dt>
                  <dd>no</dd>
                </section>
                
              </dl>
              
            </div>
            
        </div>
        
      </section>
      
      <section class ="info_section">
        <h3>Customer information</h3>
        <p>Please add your information here </p>
        
        <form>
          <p>
            <label for="Full name">Full name</label><br>
            <input type="text" id="full name" name="fn" required="required" placeholder="First- and Last name" />
          </p>
          <p>
            <label for="email">E-mail address</label><br>
            <input type="email" id="email" name="em" required="required" placeholder="E-mail address" />
          </p>
          <p>
            <label for="street">Street</label><br>
            <input type="text" id="street" name="street" placeholder="Street name" />
          </p>
          
          <p>
            <label for="house">House</label><br>
            <input type="number" id="house" name="hnr" required="required" placeholder="House number"/>
          </p>


          <p>
            <label for="payment option">Payment Option</label><br />
            <select id="payment option" name="pay">
              
              <option>Cheque</option>
              <option selected = "selected">Credit Card</option>    <option>Cash</option>
              <option>Other?</option>
              
            </select>
          </p>

          <p>
            <label for="gender">Gender</label><br>
            <input type="radio" id="gender" name="gender" value ="male" required="required"/> <label for="gender">Male</label><br>
            <input type="radio" id="gender" name="gender" value ="female" required="required"/> <label for="gender">Female</label><br>
            <input type="radio" id="gender" name="gender" value ="does not wich to provide" required="required"/> <label for="gender">Does not wish to provide</label><br>
          </p>
          
        </form>
        
        
      </section>

      <button type="submit"><img src="img/smallburg2.jpg" /> Send Info</button>
      
    </main>
    <footer>copyright 2020</footer>  
  </body>
</html>

