
body {
    margin: 0 auto;
    font-family: Tahoma, sans-serif;
    font-size: 1.25em;
}

.allergy{
    font-weight: bold;
}

.burgers_section{
    background-color: black;
    color: white;
    border: dashed 3px white;
    padding: 20px;
    margin-left: 25px;
}

.info_section{
    border: dashed 3px black;
    padding: 20px;
    margin-left: 25px;
}

button{
    margin: 60px 0px 30px 45px;
}

button:hover {
    background-color: darkgreen;
    color: white;
    font-size: 1.25em;
    cursor: pointer;
}

button a{
    font-size: 1.25em;
}

table{
    margin: 0  auto;
    width: 85%;
}


section{
   
    margin-right: 25px;

}



header{
    margin-top: 10px;
    margin-left: 25px;
    margin-right: 25px;
    height: 319px;
    overflow:hidden;
    

}
header h1{
    padding-left: 20px;
    position: absolute;
    z-index: 1;
    margin-top: 100px;
}
header i{
    margin-left: 90px;
    position: absolute;
    z-index: 1;
    margin-top: 160px;

}

header img{
    opacity: 0.5;
    width: 100%;
    height: auto;
}

.wrapper {
     display: grid;
     grid-gap: 50px;
     grid-template-columns: 474px 474px 474px;
     margin: 0  auto;
     width: 85%;
}


 .box {
     border-radius: 5px;
 }


 #your_order{
     width: 20em;
     background-color: #aaaaaa;
     margin: auto;
     border-radius: 0.3em;
     padding: 1em;
 }


 #burger_in_menu > label{
     color: #007700
 }



 .view-box {
	width: 90%;
	height: 50vh;
	margin: 1em auto;
	overflow: scroll;
	border: 1px solid rgba(0,0,0,0.4);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}
#dots {
	position: relative;
	margin: 0;
	padding: 0;
	background: url(/img/polacks.jpg);
	background-repeat: no-repeat;
	width:1920px;
	height: 1078px;
	cursor: crosshair;
}

#dots div {
	position: absolute;
	background: black;
	color: white;
	border-radius: 10px;
	width:20px;
	height:20px;
	text-align: center;
}

#orderList {
	top:1em;
	left:1em;
	position: absolute;
	z-index: 2;
	color:black;
	background: rgba(255,255,255, 0.5);
	padding: 1em;
}
